<div class="header bg-primary pt-1 pb-1">
    <h2 class="text-white ml-5">Agregar noticia</h2>
</div>
<div class="container-fluid mt-4">
    <div class="app-main">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="guardado == true">
            <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-inner--text"><strong>Exito!</strong> Genial acabas de guardar una noticia nueva</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorguardado == true">
            <span class="alert-inner--icon"><i class="ni ni-support-16"></i></span>
            <span class="alert-inner--text"><strong>Error!</strong> No se llegó a guardar el post, intenta de nuevo!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
                <form>
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12 mt-1">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Titulo noticia</label>
                                                <input class="form-control" type="text" value="Omar Fonseca" id="example-text-input" name="title" [(ngModel)]="title" maxlength="90">
                                            </div>
                                        </div>
                                      
                                        <div class="col-12 col-md-6 col-lg-6 mt-1">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Slug</label>
                                                <input class="form-control" type="text" value="ruta_noticia" id="example-text-input" name="slug" [(ngModel)]="slug">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 mt-1">
                                            <label for="example-text-input" class="form-control-label">Agregar Imagen</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFileLang" lang="es" name="image" (change)="upImage($event)">
                                                <label class="custom-file-label" for="customFileLang">Agregar imagen</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12 mt-1">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Resumen caracteres 140 / {{resumencontador}}</label>
                                                <textarea class="form-control" type="date" id="resumen" name="resumen" (keyup)="onresumen($event)" [(ngModel)]="resumen" maxlength="140"></textarea>
                                            </div>
                                        </div>
<!--                                         <div class="col-12 col-md-12 col-lg-12 mt-1">
                                            <div class="form-group">
                                               
                                                <textarea class="form-control" type="date" id="contenido" name="contenido" [(ngModel)]="contenido "></textarea> 
                                               
                                            </div>
                                        </div> -->
                                        <div class="col-12 mt-1 mb-4">
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-lg-12">
                                                    <label for="example-text-input" class="form-control-label">Contenido</label>
                                                    <ngx-editor-menu [editor]="editor" style="width: 100%!important;"> </ngx-editor-menu>
                                                
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-12">
                                                    <ngx-editor
                                                    style="width: 100%!important;"
                                                    id="contenido"
                                                    name="contenido"
                                                      [editor]="editor"
                                                      [(ngModel)]="contenido"
                                                      [disabled]="false"
                                                      [placeholder]="'Escribe el contenido...'"
                                                    >
                                                </ngx-editor>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-1">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Fecha noticia</label>
                                                <input class="form-control" type="date" id="date" name="date" [(ngModel)]="date">
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-1">
                                            <div class="form-group">
                                                <label for="example-text-input" class="form-control-label">Fecha publicación</label>
                                                <input class="form-control" type="date" id="datepublic" name="datepublic" [(ngModel)]="datepublic">
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-1">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="example-text-input" class="form-control-label">Escrita por</label>
                                                    <input class="form-control" type="text" id="reading" name="reading" [(ngModel)]="reading">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="home" name="home" [(ngModel)]="home" (change)="homeChange($event)">
                                                <label class="form-check-label" for="exampleCheck1">publicación activa home</label>
                                              </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-4">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="active" name="active" [(ngModel)]="active" (change)="activeChange($event)">
                                                <label class="form-check-label" for="exampleCheck1">publicación activa</label>
                                              </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 mt-2">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-block" [disabled]="fullCampos()" (click)="saveNotice()">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="row">
                                <div class="col-12" *ngIf="title">
                                <div class="card">
                                    <div class="card-body" >
                                            <p>{{title}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="slug">
                                <div class="card" >
                                    <div class="card-body">
                                            <p>{{slug}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="image">
                                <div class="card" >
                                    <div class="card-body">
                                            <p>{{image}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="resumen">
                                <div class="card" >
                                    <div class="card-body">
                                        <label for="">caracteres max 140/ {{resumencontador}}</label>
                                            <p >{{resumen}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="contenido">
                                <div class="card" >
                                    <div class="card-body">
                                            <p>{{contenido | slice:0:200}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6"  *ngIf="date">
                                <div class="card">
                                    <div class="card-body">
                                            <p>{{date}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6" *ngIf="datepublic">
                                    <div class="card" >
                                    <div class="card-body">
                                            <p>{{datepublic}}</p>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="col-6" *ngIf="reading">
                                <div class="card" >
                                    <div class="card-body">
                                            <p>{{reading}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6" *ngIf="imagereading">
                                <div class="card" >
                                    <div class="card-body">
                                            <p>{{imagereading}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="active">
                                <div class="card" >
                                    <div class="card-body">
                                            <p>{{active}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
    </div>
</div>


