.header{
    background: #D83A56!important;
}
ul{
    li{
        list-style-type: none;
        background:#C9CCD5;
        padding:15px;
        margin-bottom:10px;
    }
}
.datos{
    color:#889EAF;
    margin-top:-15px;
    span{
        font-weight: 500;
        float: right;
        color:#fff;
    }
}
.deletePersmission{
    color:#D83A56;
    cursor:pointer;
}