.containerImagen{
    img{
        width:100px;
        height: auto;
        margin-bottom: 30px;
    }
}
.header{
    background: #D83A56!important;
}
.textoNosotros{
    font-size:.9em;
}
.orientacionNosotros{
    margin-top:20px;
    margin-left:20px;
}