<div class="row" *ngIf="edit == false" style="width:700px; position:relative;right:0">
    <div class="col-3">
        <img src="{{slider.data.image}}" alt="">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <h2>Titulo: <span>{{slider.data.titulo}}</span></h2>
            </div>
            <div class="col-12">
                <h3>Central: <span>{{slider.data.central}}</span></h3>
            </div>
            <div class="col-12">
                <h3>Final: <span>{{slider.data.final}}</span></h3>
            </div>
            <div class="col-12">
                <h3>Slug: <span>{{slider.data.slug}}</span></h3>
            </div>
            <div class="col-12">
                <h3>Url interna: <span>{{slider.data.urlinterna}}</span></h3>
            </div>
            <div class="col-12">
                <h3>Url externa: <span>{{slider.data.urlexterna}}</span></h3>
            </div>
            <div class="col-12">
                <h3 class="col" *ngIf="slider.data.active == true">Estado: <span> activo</span></h3>
                <h3 class="col" *ngIf="slider.data.active == false">Esatado: <span>inactivo</span></h3>
            </div>
            <div class="col-6"></div>
            <div class="col-6">
                <button class="btn btn-primary btn-block" (click)="editSlider()">Editar</button>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="edit == true" style="width:700px; position:relative;right:0">
    <div class="col-3">
        <img src="{{slider.data.image}}" alt="">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6 form-group">
              <label>Titulo</label>
                <input class="form-control" type="text" value="{{slider.data.titulo}}" [(ngModel)]="titulo">
            </div>
            <div class="col-6 form-group">
              <label>Central</label>
                <input class="form-control" type="text" value="{{slider.data.central}}" [(ngModel)]="central">
            </div>
            <div class="col-6 form-group">
              <label>Final</label>
                <input class="form-control" type="text" value="{{slider.data.final}}" [(ngModel)]="final">
            </div>
            <div class="col-6">
              <label>Slug</label>
                <input class="form-control" type="text" value="{{slider.data.slug}}" [(ngModel)]="slug">
               <!--  <h3>Ruta: {{notice.data.slug}}</h3> -->
            </div>
            <div class="col-6">
              <label>Url interna</label>
                <input class="form-control" type="text" value="{{slider.data.urlinterna}}" [(ngModel)]="urlinterna">
               <!--  <h3>Ruta: {{notice.data.slug}}</h3> -->
            </div>
            <div class="col-6">
              <label>Url externa</label>
                <input class="form-control" type="text"  value="{{slider.data.urlexterna}}" [(ngModel)]="urlexterna">
               <!--  <h3>Ruta: {{notice.data.slug}}</h3> -->
            </div>
            <div class="col">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="activateSlider()">
                <label class="form-check-label" for="exampleCheck1">Activar</label>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-light btn-block" (click)="close()">cancelar</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block" (click)="saveDataSlider()">Guardar</button>
            </div>
        </div>
    </div>
</div>

