<div class="header bg-primary pt-3 pb-3">
    <h2 class="text-white ml-5">Listado de Sliders</h2>
</div>
<div class="container-fluid mt-2">
    <div class="app-main">
        <div class="card card-frame">
            <div class="card-body">
                <div class="col">
                    <div class="card">
                      <!-- Card header -->
                      <div class="card-header">
                        <h3 class="mb-0">Listado de sliders</h3>
                        <p class="text-sm mb-0">
                          Todas los sliders
                        </p>
                      </div>
                      <div class="table-responsive py-4">
                        <table class="table table-flush" id="datatable-basic">
                          <thead class="thead-light">
                            <tr>
                              <th>Imagen</th>
                              <th>slug</th>
                              <th>Titulo</th>
                              <th>texto central</th>
                              <th>texto final</th>
                              <th>Estado</th>
                              <th>Orden</th>
                              <th>Editar</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                                <th>Imagen</th>
                                <th>slug</th>
                                <th>Titulo</th>
                                <th>texto central</th>
                                <th>texto final</th>
                                <th>Estado</th>
                                <th>Orden</th>
                                <th>Editar</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr *ngFor="let slider of sliders">
                              <td><img class="imagenTable" src="{{slider.data.image}}" alt=""> </td>
                              <td (click)="openDetailSlider(slider)">{{slider.data.slug}}</td>
                              <td (click)="openDetailSlider(slider)">{{slider.data.titulo}}</td>
                              <td (click)="openDetailSlider(slider)">{{slider.data.central}}</td>
                              <td (click)="openDetailSlider(slider)">{{slider.data.final}}</td>
                              <td *ngIf="slider.data.active === false">inactivo</td>
                              <td *ngIf="slider.data.active === true">activo</td>
                              <td *ngIf="!slider.data.order">
                                <mat-form-field appearance="fill">
                                  <mat-label >orden</mat-label >
                                  <mat-select disableRipple  >
                                    <mat-option value="1" *ngFor="let f of sliders; let i = index" (click)="cambiOrden(f,i)">{{i+1}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td *ngIf="slider.data.order">
                                {{slider.data.order}}
                              </td>
                              <td><button mat-icon-button [matMenuTriggerFor]="opciones" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button></td>
                              <mat-menu #opciones="matMenu" >
                                <button mat-menu-item *ngIf="slider.data.active == true" (click)="desactivate(slider)">
                                  <mat-icon>cancel</mat-icon >
                                  <span>Desactivar</span>
                                </button>
                                <button mat-menu-item *ngIf="slider.data.active == false" (click)="activate(slider)">
                                  <mat-icon>check</mat-icon >
                                  <span>Activar</span>
                                </button>
                                <button mat-menu-item (click)="editOrden(slider)">
                                  <mat-icon>check</mat-icon >
                                  <span>Editar orden</span>
                                </button>
                                <button mat-menu-item (click)="eliminateSlider(slider)">
                                  <mat-icon>delete</mat-icon >
                                  <span>Eliminar</span>
                                </button>
                              </mat-menu>
                            
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>


