<div class="header bg-primary pt-1 pb-1">
    <h2 class="text-white ml-5">Listado cursos a empresas</h2>
</div>
<div class="container-fluid mt-2">
    <div class="app-main">
        <div class="card card-frame">
            <div class="card-body">
                <div class="col">
                    <div class="card">
                      <!-- Card header -->
                      <div class="card-header">
                        <h3 class="mb-0">Listado empresas</h3>
                        <p class="text-sm mb-0">
                          todas las solicitudes
                        </p>
                      </div>
                      <div class="table-responsive py-4">
                        <table class="table table-flush" id="datatable-basic">
                          <thead class="thead-light">
                            <tr>
                              <th>Nombre</th>
                              <th>Apellidos</th>
                              <th>cargo</th>
                              <th>Empresa</th>
                              <th>Email</th>
                              <th>Teléfono</th>
                              <th>Fecha</th>
                              <th>requerimiento</th>
                              <th>Estado</th>
                              <th>Editar</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Nombre</th>
                              <th>Apellidos</th>
                              <th>cargo</th>
                              <th>Empresa</th>
                              <th>Email</th>
                              <th>Teléfono</th>
                              <th>Fecha</th>
                              <th>requerimiento</th>
                              <th>Estado</th>
                              <th>Editar</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr *ngFor="let e of empresas">
                              <td>{{e.data.names}}</td>
                              <td>{{e.data.surname1}} {{e.data.surname2}}</td>
                              <td>{{e.data.cargo}}</td>
                              <td>{{e.data.empresa}}</td>
                              <td>{{e.data.email}}</td>
                              <td>{{e.data.phone}}</td>
                              <td *ngIf="e.data.fechaSolicitud">{{e.data.fechaSolicitud.toDate() | date:"dd/MM/yyyy h:mm"}}</td>
                              <td *ngIf="!e.data.fechaSolicitud">Sin fecha</td>
                              <td>{{e.data.requerimientos | slice:0:200 }}</td>
                              <td *ngIf="e.data.active == false || !e.data.active">Pendiente</td>
                              <td *ngIf="e.data.active == true">Atendido</td>
                              <td><button mat-icon-button [matMenuTriggerFor]="opciones" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button></td>
                              <mat-menu #opciones="matMenu" >
                                <button mat-menu-item *ngIf="e.data.active == false || !e.data.active" (click)="activate(e)">
                                  <mat-icon>check</mat-icon >
                                  <span>Atendido</span>
                                </button>
                              </mat-menu>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>


