<div class="header bg-primary pt-3 pb-3">
    <h2 class="text-white ml-5">Listado solicitudes unete</h2>
</div>
<div class="container-fluid mt-2">
    <div class="app-main">
        <div class="card card-frame">
            <div class="card-body">
                <div class="col">
                    <div class="card">
                      <!-- Card header -->
                      <div class="card-header">
                        <h3 class="mb-0">Listado unete</h3>
                        <p class="text-sm mb-0">
                          todas las solicitudes
                        </p>
                      </div>
                      <div class="table-responsive py-4">
                        <table class="table table-flush" id="datatable-basic">
                          <thead class="thead-light">
                            <tr>
                              <th>Imagen</th>
                              <th>Titulo</th>
                              <th>slug</th>
                              <th>fecha</th>
                              <th>fecha publicación</th>
                              <th>estado</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Imagen</th>
                              <th>Titulo</th>
                              <th>slug</th>
                              <th>fecha</th>
                              <th>fecha publicación</th>
                              <th>estado</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr>
                              <td>Tiger Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>


