<div class="row" *ngIf="edit == false"  style="width:700px; position:relative;right:0">
    <div class="col-3">
        <img src="{{notice.data.imagen}}" alt="">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-5">
                <h2>Titulo: {{notice.data.title}}</h2>
            </div>
            <div class="col-5">
                <h3>Ruta: {{notice.data.slug}}</h3>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" (click)="editNotice()">Editar</button>
            </div>
        </div>
        <div class="col-12">
            <p>Resumen: <span>{{notice.data.resumen}}</span></p>
            <p [innerHtml]="notice.data.contenido">Contenido: <span>{{notice.data.contenido}}</span></p>
        </div>
        <div class="row">
            <div class="col">Escibe: {{notice.data.reading}}</div>
            <div class="col">Fecha publicación: {{notice.data.datepublic}}</div>
            <div class="col" *ngIf="notice.data.active == true">estado: activo</div>
            <div class="col" *ngIf="notice.data.active == false">esatado: inactivo</div>
            <div class="col" *ngIf="notice.data.home == true">home: activo</div>
            <div class="col" *ngIf="notice.data.home == false">home: inactivo</div>
        </div>

    </div>
</div>
<div class="row" *ngIf="edit == true"  style="width:700px; position:relative;right:0">
    <div class="col-3">
        <img src="{{notice.data.imagen}}" alt="">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6 form-group">
                <label for="">Titulo</label>
                <input class="form-control" type="text" placeholder="{{notice.data.title}}" value="{{notice.data.title}}" [(ngModel)]="title" maxlength="90">
                <!-- <h2>Titulo: {{notice.data.title}}</h2> -->
            </div>
            <div class="col-6">
                <label for="">Slug </label>
                <input class="form-control" type="text" placeholder="{{notice.data.slug}}" value="{{notice.data.slug}}" [(ngModel)]="slug">
               <!--  <h3>Ruta: {{notice.data.slug}}</h3> -->
            </div>

        <div class="col-12">
            <label for="">Resumen caracteres 140 / {{resumencontador}}</label>
            <textarea name="resumen"   rows="2" class="form-control" [(ngModel)]="resumen" placeholder="{{notice.data.resumen}}" maxlength="140" (keyup)="onresumen($event)">{{notice.data.resumen}}</textarea>
        </div>
        <div class="col-12  mt-1 mb-4">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <label for="example-text-input" class="form-control-label">Contenido</label>
                        <ngx-editor-menu [editor]="editor" style="width: 100%!important;"> </ngx-editor-menu>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12">
                        <ngx-editor
                            style="width:100%!important;height:60px!important;"
                            id="contenido"
                            name="contenido"
                          [editor]="editor"
                          [(ngModel)]="contenido"
                          [disabled]="false"
                          placeholder="{{notice.data.contenido}}">
                        </ngx-editor>
                    </div>
                </div>

           <!--  <textarea name="contenido" rows="5" class="form-control" [(ngModel)]="contenido" value="{{notice.data.contenido}}">{{notice.data.contenido}}</textarea> -->
        </div>
            <div class="col">
                <input class="form-control" type="text" placeholder="{{notice.data.reading}}" [(ngModel)]="reading">
            </div>
            <div class="col">
                <input class="form-control" type="date" placeholder="{{notice.data.datepublic}}" [(ngModel)]="datepublic">
            </div>
            <div class="col">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="activateNotice()">
                <label class="form-check-label" for="exampleCheck1">Activar</label>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-light btn-block" (click)="close()">cancelar</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-block" (click)="saveDataNotice()">Guardar</button>
            </div>
        </div>
    </div>
</div>
